* {
    margin: 0;
    padding: 0;
}

.navsec {
    background: url(css/istockphoto-1194396916-612x612.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#logo {
    width: 360px;
    height: 300px;
    position: absolute;
    top: -90px;
    left: 3%;
}

.navitem {
    position: absolute;
    right: 60px;
    top: 40px;
}

.navitem a {
    width: 130px;
    text-align: center;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    margin: 0px 10px;
    padding: 12px 10px 12px 10px;
    color: #fff;
    border: .5px solid #fff;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}

.navitem a span {
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
}

.navitem a:hover span {
    width: 100%;

}
.navitem .cart{
    position: absolute;
    right: 0;
    top: 300px;
    width: 50px;
}

.navitem a:hover {
    color: rgb(10, 10, 10);
    text-decoration: none;
}

.front-heading {
    padding-top: 280px;
    padding-left: 100px;
}

.front-heading h1 {
    font-size: 60px;
    margin-bottom: 10px;
    color: #fff;
    text-shadow: 4px 6px black;
}

.front-heading p {
    font-size: 30px;
    color: #fff;
    width: 550px;

}

.front-pics {
    position: absolute;
    top: 100px;
    right: 0px;
    width: 400px;
    height: 500px;
}
.front-pics img{
    width: 400px;
    position: absolute;
    right: 250px;
    top: 50px;
}
.bata-img {
    width: 450px;
    margin-left: 150px;
    padding-left: 150px;
    margin-top: 50px;
}

.bata-text {
    width: 400px;
    float: right;
    margin-right: 300px;
    margin-top: -200px;
    font-size: 1.3rem;
    font-family: sans-serif,Kaushan,cursive;
}

.bata h1 {
    font-family: cursive;
    margin-left: 550px;
    padding-top: 70px;
    font-size: 3rem;
}
.img1{
    position: relative;
    right: -450px;
    margin-top: -240px;
    float: right;
}
.cotton-text{
    width: 300px;
    float: right;
    margin-right: 450px;
    margin-top: -200px;
    font-size: 1.3rem;
    font-family: sans-serif,Kaushan,cursive;
}
.lawn-text{
    width: 300px;
    float: right;
    margin-right: 500px;
    margin-top: -250px;
    font-size: 1.3rem;
    font-family: sans-serif,Kaushan,cursive;
}
.limg1{
    position: relative;
    width: 200px;
    left: 910px;
    margin-top: -240px;
}
/* card sec */
.row{
    margin-left: 185px;
}
.column {
    float: left;
    width: 28%;
    padding-top: -20px;
    margin-bottom: 90px;
}
.column p{
    width: 80%;
    line-height: 1.5;
}
.column h1{
    color: hsl(0, 0%, 95%);
    margin-top: 40px;
    margin-bottom: 25px;
}
.cardtext{
    font-family: cursive;
    margin-left: 350px;
    padding-top: 30px;
    font-size: 3rem;
}
#sediv{
    background:linear-gradient(rgba(0,0,0,0.5),rgb(15, 159, 202)), url(css/suit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    padding-left: 60px;
    padding-top:20px ;
    margin-top: 80px;
    Font-size: 15px;
    font-family:Lexend Deca;
    color: hsla(0, 0%, 100%, 0.75);
}
#sudiv{
    background: url(css/frock.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    padding-left: 60px;
    padding-top:20px ;
    margin-top: 80px;
    Font-size: 15px;
    font-family:Lexend Deca ;
    color: hsla(0, 0%, 100%, 0.75);
}
#ludiv{
    background:linear-gradient(rgba(0,0,0,0.5),rgb(15, 159, 202)),url(css/kurta.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    padding-left: 60px;
    padding-top:20px ;
    margin-top: 80px;
    Font-size: 15px;
    font-family:Lexend Deca ;
    color: hsla(0, 0%, 100%, 0.75);
}
button{
    margin-top: 70px;
    height:40px;
    width: 120px;
    color: hsl(0, 0%, 95%);
    border: 2px solid #fff ;
    border-radius: 25px;
    background-color: transparent;
}
/* buysection */
#buy-sec {
    width: 100vh;
    font-family: cursive;
}

.buy-text {
    width: 100vh;
    margin-left: 550px;
    margin-top: 50px;
}

.buy-table {
    width: 100%;
    margin-left: 250px;
}
.buy-table input {
    width: 100vh;
    margin-left: 100px;
    margin-top: 20px;
    border-radius: 5px;
    color: #5dbcf3;
}

.buy-table select {
    width: 100vh;
    margin-left: 100px;
    margin-top: 20px;
    border-radius: 5px;
    color: #5dbcf3;
}
.buy-table button {
    width: 150px;
    height: 40px;
    margin-left: 350px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    border-style: none;
    background-color: #5dbcf3;
    color: white;
}
/* <!--footer-----> */
.container {
    max-width: 1100px;
    margin: auto;
}

ul {
    list-style: none;
}

.row1 {
    display: flex;
    flex-wrap: wrap;
    /* padding-left: 350px; */
}

#footer {
    /* height: 100vh; */
    background: #24252b;
    /* padding: 70px 0; */
}

.footer-col {
    margin-top: 30px;
    margin-left:6%;
    margin-right: 5%;
    margin-bottom: 10px;
    /* padding: 0 15px; */
}

.footer-col h3 {
    font-size: 18px;
    color: #ffffff;
    margin-top: 40px;
    padding-top: 70px;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50%;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font: size 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;

}

.fa-video {
    color: darkorange;
}

.fa-photo-film {
    color: darkred;
}

.fa-globe {
    color: tomato;
}

.fa-facebook {
    color: rgb(48, 48, 233);
}

.fa-whatsapp {
    color: rgb(36, 180, 36);
}

.fa-youtube {
    color: red;
}

.fa-linkedin {
    color: rgb(9, 99, 134);
}

.fa-cubes {
    color: yellow;
}

.fa-gem {
    color: #e91e63;
}

.fa-user-group {
    color: aqua;
}

#email {
    color: #bbbbbb;
    text-align: center;
}

#feedback {
    margin-top: 180px;
    padding-left: 12%;
}

#textbox {
    padding-left: 35%
}

.submitt {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #e91e63;
}
#sidenav {
    width: 250px;
    height: 100vh;
    position: absolute;
    right: -250px;
    top: 0;
    background: #40b2f3;
    font-family: sans-serif;
    z-index: 2;
    transition: 0.5s;
}

#sidenav nav ul li {
    list-style: none;
    margin: 50px 20px;
}

#sidenav nav ul li a {
    text-decoration: none;
    color: #fff;
}

#menubtn {
    width: 45px;
    height: 45px;
    text-align: center;
    position: fixed;
    right: 20px;
    top: 40px;
    border-radius: 5px;
    background: #40b2f3;
    z-index: 3;
    cursor: pointer;
}

#menubtn .menu-pic {
    width: 45px;
    height: 45px;
    background: #40b2f3;
    border-radius: 5px;
}
@media (max-width: 670px){
    .banner_text h1 {
        font-size: 90px;
    }
    .banner_text p{
        font-size: 30px;
    }
    .banner-btn a {
        display: block;
         margin: 20px 50px;    }
}
    
