* {
    margin: 0;
    padding: 0;
}

.navsec {
    background: url(css/book.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#logo {
    width: 360px;
    height: 300px;
    position: absolute;
    top: -90px;
    left: 3%;
}

.navitem {
    position: absolute;
    right: 30px;
    top: 40px;
}

.navitem a {
    width: 150px;
    text-align: center;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    margin: 0px 10px;
    padding: 12px 10px 12px 10px;
    color: rgb(7, 245, 27);
    border: .5px solid #fff;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}

.navitem a span {
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
}
#lang{
    color: rgb(7, 245, 27);
background-color: black;}
.navitem a:hover span {
    width: 100%;

}
.navitem .cart{
    position: absolute;
    right: 0;
    top: 300px;
    width: 50px;
}

.navitem a:hover {
    color: rgb(11, 252, 212);
    text-decoration: none;
}
.front-heading {
    padding-top: 280px;
    padding-left: 100px;
}

.front-heading h1 {
    font-size: 60px;
    margin-bottom: 10px;
    margin-top: -150px;
    color: #fff;
    text-shadow: 4px 6px black;
}

.front-heading p {
    font-size: 30px;
    color: rgb(241, 214, 91);
    width: 550px;
    text-shadow: 2px 3px black;
}

.front-pics {
    position: absolute;
    top: 100px;
    right: 0px;
    width: 600px;
    height: 500px;
}
.cards{
    margin: 20px;
    padding: 20px;
    width: 200vh;
}
.row {
height: 400px;
padding-top: 50px;
padding-bottom: 30px;
}
.col{
padding-left: 100px;
padding-bottom: 70px;
}
.card img{
height: 250px;
width: 300px;
}
.card button{
    margin-left: 20px;
    padding: 5px;
    border-radius: 10px;
    
}
.noice{
   padding-bottom: 45px;
}
.noice1{
    padding-bottom: 68px;
}
.rbtn{
    background-color: red;
    color: #fff;
    border-color: #fff;
}
.downbtn{
    background-color: greenyellow;
    color: #fff;
    border-color: #fff;
}
.buynow{
    margin-top: 300px;
    margin-left: 550px;
}
/* buycards */
.card2{
    margin-left: -230px;
    margin-top: 40px;
    margin-bottom: 40px;
    width:699px;
    border-radius: 10px;
    box-shadow:-1px -2px 25px 0px hsl(216, 8%, 50%);
}
.down{
    display: inline-flex;
}
.left{
    width: 350px;
    padding-left: 50px;
    background-color:hsl(179, 62%, 43%) ;
    color: aliceblue;
    height: 300px;
    font-family: Karla;
}
.right{
    width: 350px;
    background-color:  hsl(179, 48%, 50%);
    padding-left: 50px;
    color: aliceblue;
    height: 300px;
    font-family: Karla;
}
.right p{
    color:hsl(202, 12%, 82%);
    font-family: Karla;
}
.upper{
    width: 700px;
    height: 200px;
    padding-left:200px ;
    padding-top: 30px;
    
}
.upper input{
color: hsl(179, 48%, 50%) ;
margin-bottom: 5px;
border-radius: 5px;
border-color: 2px solid #fff;
}
.upper .bc{
margin-left: 19px;
}
.upper .ed{
    margin-left: 47px;
}
.upper button{
    font-family: Karla;
    position: absolute;
    margin-left: 30px;
    width: 130px;
    border-radius: 10px;
    border-style: none;
    background-color: hsl(71, 73%, 54%);
    color: #fff;
}

p{
    color:hsl(218, 22%, 67%) ;
    margin-bottom: 30px;
}
.offer{
    color:  hsl(71, 73%, 54%);
    font-size: larger;
}
small{
    color:hsl(179, 56%, 65%) ;
    margin-left: 15px;
    font-size: 0.9rem;
    margin-top: 10px;
}
strong{
    font-size: larger;
    margin-top: 40px;
}
.left input{
    margin-top: 10px;
    border-radius: 5px;
    border-style: none;
}
.left tr{
    padding-top: 30px;
}
.left .wish{
    background-color: hsl(71, 73%, 54%);
    color: aliceblue;
    width: 210px;
    height: 30px;
    margin-top: 50px;
    border-color: transparent;
    border-radius: 5px;
    box-shadow: 3px 3px 3px hsl(216, 8%, 50%);
}
.right h1{
    margin-left: 40px;
    padding-top: 15px;
}
.emoji{
    border-radius: 100px;
    border: 4px solid #fff;
    width: 50px;
    height: 50px;
    margin-left: 90px;
    margin-top: 20px;
}
.right i{
    margin-top: 50px;
    margin-left: 10px;
    padding-left: 13px;
    color: #fff;
}
/* footer */

/* <!--footer-----> */
.container {
    max-width: 1100px;
    margin: auto;
}

ul {
    list-style: none;
}

.row1 {
    display: flex;
    flex-wrap: wrap;
    /* padding-left: 350px; */
}

#footer {
    /* height: 100vh; */
    background: #24252b;
    /* padding: 70px 0; */
}

.footer-col {
    width: 800px;
    margin-left: 10%;
    margin-right: 5%;
    /* padding: 0 15px; */
}

.footer-col h3 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50%;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font: size 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;

}

.fa-video {
    color: darkorange;
}

.fa-photo-film {
    color: darkred;
}

.fa-globe {
    color: tomato;
}

.fa-facebook {
    color: rgb(48, 48, 233);
}

.fa-whatsapp {
    color: rgb(36, 180, 36);
}

.fa-youtube {
    color: red;
}

.fa-linkedin {
    color: rgb(9, 99, 134);
}

.fa-cubes {
    color: yellow;
}

.fa-gem {
    color: #e91e63;
}

.fa-user-group {
    color: aqua;
}

#email {
    color: #bbbbbb;
    text-align: center;
}
.contact{
    width: 200px;
    position: absolute;
    padding-left: 100px;
    margin-left: 750px;
    padding-left: 200px;
}
#feedback{
    width: 300px;
    margin-left: 370px;
    margin-top: -100px;
}
#feedback textarea{
    width: 262px;
}
.submitt {
    display: block;
    background-color: #e91e63;
}
#sidenav {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: rgb(7, 245, 27);
    font-family: sans-serif;
    z-index: 2;
    transition: 0.5s;
}

#sidenav nav ul li {
    list-style: none;
    margin: 50px 20px;
}

#sidenav nav ul li a {
    text-decoration: none;
    color: #fff;
}

#menubtn {
    width: 40px;
    height: 40px;
    text-align: center;
    position:absolute;
    right: 30px;
    top: 45px;
    border-radius: 5px;
    background: rgb(7, 245, 27);
    z-index: 3;
    cursor: pointer;
}

#menubtn .menu-pic {
    width: 40px;
    height: 40px;
    background: rgb(7, 245, 27);
    border-radius: 5px;
}
@media (max-width: 670px){
    .banner_text h1 {
        font-size: 90px;
    }
    .banner_text p{
        font-size: 30px;
    }
    .banner-btn a {
        display: block;
         margin: 20px 50px;    }
}
    
